doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Дискотерапия

		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/style.css')

	body
		.container
			header.header
					.header__logo Клиника дискотерапии

					.header__block
						.header__contacts
							.header__adress ул. Блюхера 30/ 1 <br>
								span +7 (343) 346-05-84
							.header__adress ул. Обская 2 <br>
								span +7 (343) 310-07-10
						.header__contacts
							.header__shedule Пн. - Пт. 09:00 - 18:30 <br>
								span Суб. Вс: выходной
							.header__shedule Пн. - Пт. 10:00 - 20:00 <br>
								span Суббота с 9.00 до 15.00

			.nav
				ul.nav__list
					li.nav__item 
						a.nav__link(href="#") Главная
					li.nav__item.nav__item-parent 
						span О нас
						ul.nav__sublist
							li.nav__subitem
								a.nav__sublink(href="#") О нас
							li.nav__subitem
								a.nav__sublink(href="#") Лицензии, заключения, свидетельства
							li.nav__subitem
								a.nav__sublink(href="#") Публикации о нас
							li.nav__subitem
								a.nav__sublink(href="#") Контакты контролирующих органов
							li.nav__subitem
								a.nav__sublink(href="#") Устав ООО"Клиника дискотерапии"
							li.nav__subitem
								a.nav__sublink(href="#") Структура клиники
							li.nav__subitem
								a.nav__sublink(href="#") Внутренний распорядок
					li.nav__item.nav__item-parent 
						span Наши услуги
						ul.nav__sublist
							li.nav__subitem
								a.nav__sublink(href="#") Наши услуги
							li.nav__subitem
								a.nav__sublink(href="#") Иглорефлексотерапия
							li.nav__subitem
								a.nav__sublink(href="#") Физиотерапевтическое лечение
							li.nav__subitem
								a.nav__sublink(href="#") Кинезиотерапия
							li.nav__subitem
								a.nav__sublink(href="#") Паравертебральная терапия
					li.nav__item 
						a.nav__link(href="#") Специалисты
					li.nav__item 
						a.nav__link(href="#") Фотогалерея
					li.nav__item 
						a.nav__link(href="#") Прайс-лист
					li.nav__item 
						a.nav__link(href="#") Контакты

			.welcome
				.welcome__block
					img(src='img/welcome.png')
					.welcome__title Потому что без болей в спине лучше!
				.welcome__block
					.welcome__header Добро пожаловать!
					p.
						Клиника дискотерапии является специализированным медицинским учреждением нейротерапевтического профиля по лечению неврологических проявлений осложненных форм заболеваний позвоночника (дорсопатий) – грыж, протрузий межпозвонковых дисков, вестибулопатий при поражении шейного отдела позвоночника.
					p.
						Кроме того, консультацию наших специалистов можно получить и по вегетативным расстройствам нервной системы, дегенеративным, демиелинизирующим заболеваниям, периферическим нарушениям (мононейропатии, полинейропатии), головным болям различного происхождения.

			ul.breadcrumbs
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#") Главная
				li.breadcrumbs__item О компании

			.wrapper
				aside
					form.search
						input.search__input(type="text", placeholder="Поиск...")
						input.search__submit(type="submit")
					ul.left-menu
						li.left-menu__item
							a.left-menu__link(href="#") Физиотерапевтическое лечение
						li.left-menu__item
							a.left-menu__link(href="#") Кинезиотерапия
						li.left-menu__item
							a.left-menu__link(href="#") Паравертебральная терапия
						li.left-menu__item
							a.left-menu__link(href="#") Иглорефлексотерапия
					.specoffer
						.specoffer__title Спецпредложение
						.specoffer__content
							.specoffer__text ООО «ЛЕГАСИ МЕД» предлагает вашему вниманию медицинское оборудование и расходные материалы в широком ассортименте. У нас в наличии более 5 000 различных позиций на
							img(src="img/spec.png")

				.content
					.news
						.news__item
							.news__photo
								.news__date 12.08.16
								img(src="img/new-1.png")
							.news__content
								a.news__title ООО «ЛЕГАСИ МЕД» предлагает
								p вашему вниманию медицинское оборудование и расходные
						.news__item
							.news__photo
								.news__date 12.08.16
								img(src="img/new-1.png")
							.news__content
								a.news__title ООО «ЛЕГАСИ МЕД» предлагает
								p вашему вниманию медицинское оборудование и расходные

					p.
						Кроме того, консультацию наших специалистов можно получить и по вегетативным расстройствам нервной системы, дегенеративным, демиелинизирующим заболеваниям, периферическим нарушениям (мононейропатии, полинейропатии), головным болям различного происхождения/
						Наша клиника известна своим эффективным способом безоперационного  лечения грыж и протрузий межпозвонковых дисков, успешно применяющимся более 10 лет. Способ лечения включает в себя лазеротерапию в сочетании с введением паравертебрально лекарственных препаратов для уменьшения размеров грыжевого выпячивания, улучшающих обменные процессы в хрящевой ткани межпозвонковых дисков, что приводит к исчезновению диско - радикулярного конфликта. 

					p.
						Проводимая определенным образом физиотерапия позволяет улучшить кровообращение, подвести лекарственные препараты максимально близко к пораженному сегменту позвоночника, поэтому значительно быстрее и эффективнее снимается обострение - проходят боли, отек и воспаление, устраняется компрессия нервно-сосудистого пучка в пораженной зоне. Благодаря этому наступает длительная стабилизация состояния пациента.

					p.
						Главный врач ООО "Клиника дискотерапии" Черемных Оксана Викторовна ведет прием граждан по личным вопросам по предварительной записи по адресу Блюхера 30/1 вторник с 9.00 до 10.00 тел. 2148004, по адресу Обская 2 понедельник с 14.00 до 15.00 тел. 3100710

			.photogallery
				.photogallery__title Фотогалерея
				.photogallery__wrapper
					.photogallery__photo
						img(src="img/photo-1.png")
					.photogallery__photo
						img(src="img/photo-1.png")
					.photogallery__photo
						img(src="img/photo-1.png")
					.photogallery__photo
						img(src="img/photo-1.png")

			.feedback
				.feedback__title Отзывы
				.feedback__wrapper
					.feedback__item
						.feedback__item-title - Наталья Владимировна
						.feedback__item-text Очень довольна результатом. Страдала давно, в 2002 году делала операцию по удалению грыжи. А через два года она появилась вновь. Случайно в газете увидела информацию о клинике, позвонила и поехала. Прошла 2 курса и сделала томографию. Грыжа исчезла. Таких проблем, как раньше нет. Всем рекомендую этот центр.
					.feedback__item
						.feedback__item-title - Наталья Владимировна
						.feedback__item-text Очень довольна результатом. Страдала давно, в 2002 году делала операцию по удалению грыжи. А через два года она появилась вновь. Случайно в газете увидела информацию о клинике, позвонила и поехала. Прошла 2 курса и сделала томографию. Грыжа исчезла. Таких проблем, как раньше нет. Всем рекомендую этот центр.
					.feedback__item
						.feedback__item-title - Наталья Владимировна
						.feedback__item-text Очень довольна результатом. Страдала давно, в 2002 году делала операцию по удалению грыжи. А через два года она появилась вновь. Случайно в газете увидела информацию о клинике, позвонила и поехала. Прошла 2 курса и сделала томографию. Грыжа исчезла. Таких проблем, как раньше нет. Всем рекомендую этот центр.
				a.feedback__all(href="#") Все отзывы

			footer.footer
				.footer__wrapper
					.footer__block
						.footer__logo Клиника дискотерапии <br>
							span лечение неврологических направлений
						ul.footer__menu
							li.footer__menu-item
								a.footer__menu-link(href="#") Новости
							li.footer__menu-item
								a.footer__menu-link(href="#") О компании
							li.footer__menu-item
								a.footer__menu-link(href="#") Оборудование
							li.footer__menu-item
								a.footer__menu-link(href="#") Отзывы
							li.footer__menu-item
								a.footer__menu-link(href="#") Контакты

					.footer__block
						.footer__adress 630102 г. Новосибирск, ул. Обская (Октябрьский), 2
						.footer__shedule Понедельник - пятница с 8.00 до 10:00 <br>Субббота с 9.00 до 15.00
						.footer__phone +7 (383) 264-41-72 <br>+7 (983)-510-07-10

					.footer__block
						.footer__adress 630073 ул. Блюхера 30/ 1, ост. "Метро Студенческая" , 2-й этаж, вход через поликлинику НГТУ
						.footer__shedule Понедельник - пятница с 9.00 до 18:00 Суб. Вс. по предварительной записи
						.footer__phone +7 (383) 346-05-84 <br>+7 (913)-912-80-04

				.footer__wrapper
					.footer__copyright ООО “Клиника дискотерапии” Copyright © 2016
					.footer__developed 
						.footer__text Создание и продвижение сайтов
						img(src="")