doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Дискотерапия

		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/style.css')

	body
		.container
			include includes/header

			.welcome
				.welcome__block
					img(src='img/welcome.png')
					.welcome__title Потому что без болей в спине лучше!
				.welcome__block
					.welcome__header Добро пожаловать!
					p.
						Клиника дискотерапии является специализированным медицинским учреждением нейротерапевтического профиля по лечению неврологических проявлений осложненных форм заболеваний позвоночника (дорсопатий) – грыж, протрузий межпозвонковых дисков, вестибулопатий при поражении шейного отдела позвоночника.
					p.
						Кроме того, консультацию наших специалистов можно получить и по вегетативным расстройствам нервной системы, дегенеративным, демиелинизирующим заболеваниям, периферическим нарушениям (мононейропатии, полинейропатии), головным болям различного происхождения.

			ul.breadcrumbs
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#") Главная
				li.breadcrumbs__item О компании

			.wrapper
				include includes/aside

				.content
					.news
						.news__item
							.news__photo
								.news__date 12.08.16
								img(src="img/new-1.png")
							.news__content
								a.news__title(href="#") ООО «ЛЕГАСИ МЕД» предлагает
								p вашему вниманию медицинское оборудование и расходные
						.news__item
							.news__photo
								.news__date 12.08.16
								img(src="img/new-1.png")
							.news__content
								a.news__title(href="#") ООО «ЛЕГАСИ МЕД» предлагает
								p вашему вниманию медицинское оборудование и расходные

					p.
						Кроме того, консультацию наших специалистов можно получить и по вегетативным расстройствам нервной системы, дегенеративным, демиелинизирующим заболеваниям, периферическим нарушениям (мононейропатии, полинейропатии), головным болям различного происхождения/
						Наша клиника известна своим эффективным способом безоперационного  лечения грыж и протрузий межпозвонковых дисков, успешно применяющимся более 10 лет. Способ лечения включает в себя лазеротерапию в сочетании с введением паравертебрально лекарственных препаратов для уменьшения размеров грыжевого выпячивания, улучшающих обменные процессы в хрящевой ткани межпозвонковых дисков, что приводит к исчезновению диско - радикулярного конфликта. 

					p.
						Проводимая определенным образом физиотерапия позволяет улучшить кровообращение, подвести лекарственные препараты максимально близко к пораженному сегменту позвоночника, поэтому значительно быстрее и эффективнее снимается обострение - проходят боли, отек и воспаление, устраняется компрессия нервно-сосудистого пучка в пораженной зоне. Благодаря этому наступает длительная стабилизация состояния пациента.

					p.
						Главный врач ООО "Клиника дискотерапии" Черемных Оксана Викторовна ведет прием граждан по личным вопросам по предварительной записи по адресу Блюхера 30/1 вторник с 9.00 до 10.00 тел. 2148004, по адресу Обская 2 понедельник с 14.00 до 15.00 тел. 3100710

			.photogallery
				.photogallery__title Фотогалерея
				.photogallery__wrapper
					.photogallery__photo
						img(src="img/photo-1.png")
					.photogallery__photo
						img(src="img/photo-1.png")
					.photogallery__photo
						img(src="img/photo-1.png")
					.photogallery__photo
						img(src="img/photo-1.png")

			.feedback
				.feedback__title Отзывы
				.feedback__wrapper
					.feedback__item
						.feedback__item-title - Наталья Владимировна
						.feedback__item-text Очень довольна результатом. Страдала давно, в 2002 году делала операцию по удалению грыжи. А через два года она появилась вновь. Случайно в газете увидела информацию о клинике, позвонила и поехала. Прошла 2 курса и сделала томографию. Грыжа исчезла. Таких проблем, как раньше нет. Всем рекомендую этот центр.
					.feedback__item
						.feedback__item-title - Наталья Владимировна
						.feedback__item-text Очень довольна результатом. Страдала давно, в 2002 году делала операцию по удалению грыжи. А через два года она появилась вновь. Случайно в газете увидела информацию о клинике, позвонила и поехала. Прошла 2 курса и сделала томографию. Грыжа исчезла. Таких проблем, как раньше нет. Всем рекомендую этот центр.
					.feedback__item
						.feedback__item-title - Наталья Владимировна
						.feedback__item-text Очень довольна результатом. Страдала давно, в 2002 году делала операцию по удалению грыжи. А через два года она появилась вновь. Случайно в газете увидела информацию о клинике, позвонила и поехала. Прошла 2 курса и сделала томографию. Грыжа исчезла. Таких проблем, как раньше нет. Всем рекомендую этот центр.
				a.feedback__all(href="#") Все отзывы

			include includes/footer