doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Прайс

		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/style.css')

	body
		.container
			include includes/header

			ul.breadcrumbs
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#") Главная
				li.breadcrumbs__item Прайс

			.wrapper
				include includes/aside

				.content
					.spec
						.spec__item
							.spec__photo
								img(src="img/specialist.png")
							.spec__content
								.spec__title <b>Белозерова</b><br> Наталья Владимировна
								.spec__subtitle заместитель директора по медицинским вопросам
								.spec__text Сертификат АА№0009475 выдан ГБОУ ВПО НГМУ по специальности "Неврология" от 	13.10.2012г срок действия 5 лет. Диплом выдан НоТКЗМИ в 1990 г по специальности "Лечебное дело"	Прием ведет по следующим адресам: Блюхера 30/1:  понедельник,среда,пятница с10.00 до 13.30, с 14.30 до 17.00, Обская 2: вторник, четверг с 10.00 до 13.30, с 14.30 до 17.00 суббота с 10.00 до 13.00
						.spec__item
							.spec__photo
								img(src="img/specialist.png")
							.spec__content
								.spec__title <b>Радоуцкая </b><br> Елена Юрьевна
								.spec__subtitle врач-невролог высшей категории кандидат медицинских
								.spec__text Сертификат №15678 выдан ГБОУ ВПО НГМУ Минздрав РФ от 22.11.2014г по специальности "Неврология", действителен 5 лет Диплом выдан НоТКЗМИ в 1990 году по специальности "Лечебное дело" Прием ведет по адресу: Блюхера 30/1: понедельник, среда, пятница с 13.30 до 17.00
						.spec__item
							.spec__photo
								img(src="img/specialist.png")
							.spec__content
								.spec__title <b>Белозерова</b><br> Наталья Владимировна
								.spec__subtitle заместитель директора по медицинским вопросам
								.spec__text Сертификат АА№0009475 выдан ГБОУ ВПО НГМУ по специальности "Неврология" от 	13.10.2012г срок действия 5 лет. Диплом выдан НоТКЗМИ в 1990 г по специальности "Лечебное дело"	Прием ведет по следующим адресам: Блюхера 30/1:  понедельник,среда,пятница с10.00 до 13.30, с 14.30 до 17.00, Обская 2: вторник, четверг с 10.00 до 13.30, с 14.30 до 17.00 суббота с 10.00 до 13.00
						.spec__item
							.spec__photo
								img(src="img/specialist.png")
							.spec__content
								.spec__title <b>Белозерова</b><br> Наталья Владимировна
								.spec__subtitle заместитель директора по медицинским вопросам
								.spec__text Сертификат АА№0009475 выдан ГБОУ ВПО НГМУ по специальности "Неврология" от 	13.10.2012г срок действия 5 лет. Диплом выдан НоТКЗМИ в 1990 г по специальности "Лечебное дело"	Прием ведет по следующим адресам: Блюхера 30/1:  понедельник,среда,пятница с10.00 до 13.30, с 14.30 до 17.00, Обская 2: вторник, четверг с 10.00 до 13.30, с 14.30 до 17.00 суббота с 10.00 до 13.00


					
			.feedback
				.feedback__title Отзывы
				.feedback__wrapper
					.feedback__item
						.feedback__item-title - Наталья Владимировна
						.feedback__item-text Очень довольна результатом. Страдала давно, в 2002 году делала операцию по удалению грыжи. А через два года она появилась вновь. Случайно в газете увидела информацию о клинике, позвонила и поехала. Прошла 2 курса и сделала томографию. Грыжа исчезла. Таких проблем, как раньше нет. Всем рекомендую этот центр.
					.feedback__item
						.feedback__item-title - Наталья Владимировна
						.feedback__item-text Очень довольна результатом. Страдала давно, в 2002 году делала операцию по удалению грыжи. А через два года она появилась вновь. Случайно в газете увидела информацию о клинике, позвонила и поехала. Прошла 2 курса и сделала томографию. Грыжа исчезла. Таких проблем, как раньше нет. Всем рекомендую этот центр.
					.feedback__item
						.feedback__item-title - Наталья Владимировна
						.feedback__item-text Очень довольна результатом. Страдала давно, в 2002 году делала операцию по удалению грыжи. А через два года она появилась вновь. Случайно в газете увидела информацию о клинике, позвонила и поехала. Прошла 2 курса и сделала томографию. Грыжа исчезла. Таких проблем, как раньше нет. Всем рекомендую этот центр.
				a.feedback__all(href="#") Все отзывы
			include includes/footer