aside
	form.search
		input.search__input(type="text", placeholder="Поиск...")
		input.search__submit(type="submit")
	ul.left-menu
		li.left-menu__item
			a.left-menu__link(href="#") Физиотерапевтическое лечение
		li.left-menu__item
			a.left-menu__link(href="#") Кинезиотерапия
		li.left-menu__item
			a.left-menu__link(href="#") Паравертебральная терапия
		li.left-menu__item
			a.left-menu__link(href="#") Иглорефлексотерапия
	.specoffer
		.specoffer__title Спецпредложение
		.specoffer__content
			.specoffer__text ООО «ЛЕГАСИ МЕД» предлагает вашему вниманию медицинское оборудование и расходные материалы в широком ассортименте. У нас в наличии более 5 000 различных позиций на
			img(src="img/spec.png")