footer.footer
	.footer__wrapper
		.footer__block
			.footer__logo Клиника дискотерапии <br>
				span лечение неврологических направлений
			ul.footer__menu
				li.footer__menu-item
					a.footer__menu-link(href="#") Новости
				li.footer__menu-item
					a.footer__menu-link(href="#") О компании
				li.footer__menu-item
					a.footer__menu-link(href="#") Оборудование
				li.footer__menu-item
					a.footer__menu-link(href="#") Отзывы
				li.footer__menu-item
					a.footer__menu-link(href="#") Контакты

		.footer__block
			.footer__adress 630102 г. Новосибирск, ул. Обская (Октябрьский), 2
			.footer__shedule Понедельник - пятница с 8.00 до 10:00 <br>Субббота с 9.00 до 15.00
			.footer__phone +7 (383) 264-41-72 <br>+7 (983)-510-07-10

		.footer__block
			.footer__adress 630073 ул. Блюхера 30/ 1, ост. "Метро Студенческая" , 2-й этаж, вход через поликлинику НГТУ
			.footer__shedule Понедельник - пятница с 9.00 до 18:00 Суб. Вс. по предварительной записи
			.footer__phone +7 (383) 346-05-84 <br>+7 (913)-912-80-04

	.footer__wrapper
		.footer__copyright ООО “Клиника дискотерапии” Copyright © 2016
		.footer__developed 
			.footer__text Создание и продвижение сайтов
			img(src="img/itb.png")