header.header
		.header__logo 
			a(href="/") Клиника дискотерапии

		.header__block
			.header__contacts
				.header__adress ул. Блюхера 30/ 1 <br>
					span +7 (343) 346-05-84
				.header__adress ул. Обская 2 <br>
					span +7 (343) 310-07-10
			.header__contacts
				.header__shedule Пн. - Пт. 09:00 - 18:30 <br>
					span Суб. Вс: выходной
				.header__shedule Пн. - Пт. 10:00 - 20:00 <br>
					span Суббота с 9.00 до 15.00

.nav
	ul.nav__list
		li.nav__item 
			a.nav__link(href="#") Главная
		li.nav__item.nav__item-parent 
			span О нас
			ul.nav__sublist
				li.nav__subitem
					a.nav__sublink(href="#") О нас
				li.nav__subitem
					a.nav__sublink(href="#") Лицензии, заключения, свидетельства
				li.nav__subitem
					a.nav__sublink(href="#") Публикации о нас
				li.nav__subitem
					a.nav__sublink(href="#") Контакты контролирующих органов
				li.nav__subitem
					a.nav__sublink(href="#") Устав ООО"Клиника дискотерапии"
				li.nav__subitem
					a.nav__sublink(href="#") Структура клиники
				li.nav__subitem
					a.nav__sublink(href="#") Внутренний распорядок
		li.nav__item.nav__item-parent 
			span Наши услуги
			ul.nav__sublist
				li.nav__subitem
					a.nav__sublink(href="#") Наши услуги
				li.nav__subitem
					a.nav__sublink(href="#") Иглорефлексотерапия
				li.nav__subitem
					a.nav__sublink(href="#") Физиотерапевтическое лечение
				li.nav__subitem
					a.nav__sublink(href="#") Кинезиотерапия
				li.nav__subitem
					a.nav__sublink(href="#") Паравертебральная терапия
		li.nav__item 
			a.nav__link(href="#") Специалисты
		li.nav__item 
			a.nav__link(href="#") Фотогалерея
		li.nav__item 
			a.nav__link(href="#") Прайс-лист
		li.nav__item 
			a.nav__link(href="contacts.html") Контакты