.footer {
	background: #318992;

	padding: 30px 15px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__block {

	}

	&__logo {
		font-size: 24px;
		font-style: italic;
		color: @navText;

		& > span {
			font-size: 13px;
		}
	}

	&__menu {
		padding: 0;
		margin: 0;

		list-style: none;	

		&-item {
			display: inline-block;
		}

		&-link {
			font-size: 11px;
			color: @navText;
		}
	}

	&__adress,
	&__shedule,
	&__phone {
		padding-left: 50px;

		color: @navText;

		margin-bottom: 40px;

		position: relative;
	}

	&__adress::before,
	&__shedule::before,
	&__phone::before {
		content: '';

		width: 25px;
		height: 25px;

		border: 2px solid @navText;
		border-radius: 50%;

		position: absolute;
		left: 0;
	}

	&__adress::before {
		background: url('../img/ico/point.png') no-repeat 8px 6px;
	}

	&__shedule::before {
		background: url('../img/ico/clock.png') no-repeat 6px 6px;
	}

	&__phone::before {
		background: url('../img/ico/phone.png') no-repeat 8px 7px;
	}
}