.footer {
	background: #318992;

	color: @navText;

	padding: 0 15px 30px 15px;

	&__wrapper {
		display: flex;
		justify-content: space-between;

		padding-top: 30px;

		@media @small {
			flex-wrap: nowrap;
		}

		@media @extrasmall {
			flex-wrap: wrap;
		}

		&:first-child {
			border-bottom: 1px solid @navText;

			@media @small {
				padding-bottom: 50px;
			}

			@media @extrasmall {
				padding-bottom: 0;
			}
		}
	}

	&__block {
		margin-bottom: 0px;

		@media @extrasmall {
			margin-bottom: 30px;
		}
	}

	&__block:not(:first-child) {
		width: 310px;
	}

	&__logo {
		font-size: 24px;
		font-style: italic;

		@media @medium {
			margin-bottom: 145px;
		}

		@media @small {
			margin-bottom: 70px;
		}

		@media @extrasmall {
			margin-bottom: 30px;
		}

		& > span {
			font-size: 13px;
		}
	}

	&__menu {
		padding: 0;
		margin: 0;

		list-style: none;	

		&-item {
			display: inline-block;
		}

		&-link {
			font-size: 11px;
			font-style: italic;

			color: @navText;
		}
	}

	&__adress,
	&__shedule,
	&__phone {
		line-height: 18px;

		padding-left: 50px;
		margin-bottom: 40px;

		position: relative;
	}

	&__adress {
		height: 55px;
	}

	&__shedule {
		height: 35px;
	}

	&__phone {
		font-size: 18px;
		line-height: 24px;

		margin-bottom: 0;
	}

	&__adress::before,
	&__shedule::before,
	&__phone::before {
		content: '';

		width: 25px;
		height: 25px;

		border: 2px solid @navText;
		border-radius: 50%;

		position: absolute;
		top: 3px;
		left: 0;
	}

	&__adress::before {
		background: url('../img/ico/point.png') no-repeat 8px 6px;
	}

	&__shedule::before {
		background: url('../img/ico/clock.png') no-repeat 6px 6px;
	}

	&__phone::before {
		background: url('../img/ico/phone.png') no-repeat 8px 7px;
	}

	&__copyright {
		font-size: 11px;

		@media @small {
			width: 170px;

			margin-bottom: 0;
		}

		@media @extrasmall {
			width: 100%;

			margin-bottom: 25px;
		}
	}

	&__developed {
		display: flex;

		font-size: 11px;
		text-decoration: none;

		color: @navText;
	}

	&__text {
		width: 115px;

		text-align: right;

		margin-right: 14px;
	}
}