.spec {
	display: flex;
	flex-direction: column;

	&__item {
		display: flex;

		margin-bottom: 27px;

		@media @small {
			flex-direction: row;
		}

		@media @extrasmall {
			flex-direction: column;
		}
	}

	&__photo {
		width: 233px;

		box-sizing: border-box;

		border: 3px solid @base;

		margin-right: 30px;

		@media @medium {
			height: 258px;
		}

		@media @small {
			height: 156px;
		}

		@media @extrasmall {
			align-self: center;
			height: 258px;

			margin-right: 0;
			margin-bottom: 20px;
		}

		& > img {

			@media @medium {
				height: auto;
			}

			@media @small {
				height: 150px;
			}

			@media @extrasmall {
				height: auto;
			}
		}
	}

	&__title {

		@media @medium {
			font-size: 17px;
			margin-bottom: 30px;
		}

		@media @small {
			font-size: 15px;

			margin-bottom: 10px;
		}

		@media @extrasmall {
			margin-bottom: 10px;

			text-align: center;
		}
	}

	&__subtitle {
		width: 240px;

		text-transform: uppercase;
		color: @base;

		margin-bottom: 20px;

		@media @medium {
			width: 240px;

			font-size: 17px;
		}

		@media @small {
			width: auto;

			font-size: 15px;
		}

		@media @extrasmall {
			width: auto;
			
			text-align: center;
		}
	}

	&__text {
		font-size: 13px;
	}
}